@{
    ViewData["Title"] = "Access Denied";
}

<div class="container2">
    <div class="wrapper">
        <h1>Access Denied</h1>
        <div class="message">
            You do not have permission to view this page.
        </div>
        <a href="/" class="btn">Return to Home</a>
    </div>
</div>
