@model Calorie_Scanner_Tracker_And_Diet_Suggestor.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}


<div class="container2">
    <div class="wrapper" id="forgotPasswordContent">
        <form asp-action="ForgotPassword" method="post">
            <h1>Forgot Password</h1>
            <div class="input-box">
                <input asp-for="Email" type="email" placeholder="Enter your email" required />
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
